@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* if we add a border or padding to an element, it wont affect the width of the element  */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* vh - viewport: take the entire height of the browser  */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
